<nav class="navbar navbar-expand-lg bg-danger navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LibrosShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="libros()">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Revistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Atencion al cliente</a>
        </li>
      </ul>
      <button type="button" class="btn btn-secondary btn-sm" (click)="carrito()">Carrito<span
          class="badge bg-secondary">{{ itemsCarrito }}</span></button>
    </div>
  </div>
</nav>

<div *ngIf="opcion == 0">
  <div class="container">
    <div class="row py-4 ">
      <div class="col-4 p-4" *ngFor="let libro of listaLibros">
        <div class="card" style="width: 18rem;">
          <img src="{{ libro.image }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ libro.name }}</h5>
            <p class="card-text">{{ libro.description }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Precio {{ libro.price }}</li>
          </ul>
          <div class="card-body">
            <button type="button" class="btn btn-danger btn-sm"
              (click)="sumarCarrito( libro.id,libro.price,libro.name)">Añadir al Carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="opcion == 1">
  <div class="container">
    <div class="row py-4 justify-content-center">
      <div class="col-10 p-4">
        <h1 class="display-3 mb-4">Buena Elección!</h1>
        <input class="form-control mb-4" type="text" placeholder="Nombre" id="nombre" #nombre>
        <table class="table text-secondary">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Libro</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody *ngFor="let compra of orden">
            <tr>
              <th scope="row">{{ compra.id }}</th>
              <td>{{ compra.name }}</td>
              <td>{{ compra.price }}</td>
              <td>{{ compra.quantity }}</td>
            </tr>
          </tbody>

        </table>

      </div>
      <div class="col-4">
        <button type="button" class="btn btn-warning btn-sm mx-3" (click)="libros()">Seguir Comprando</button>
        <button type="button" class="btn btn-success btn-sm" (click)="comprar(nombre.value)">Comprar</button>
      </div>
    </div>
  </div>
</div>